<section>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <thead>
                    <th>PTAT</th>
                    <th>PEDIGREE</th>
                    <th>PTAP</th>
                    <th>UID</th>
                    <th>TPI</th>
                    <th>CODENO</th>
                    <th>PTAM</th>
                    <th>$ID</th>
                    <th>REGNAME</th>
                    <th>CODENAME</th>
                    <th>NEW</th>
                </thead>
            </thead>
            <tbody>
                <tr ng-repeat="bull in vm.bulls">
                    <td>{{ bull.ptat }}</td>
                    <td>{{ bull.pedigree }}</td>
                    <td>{{ bull.ptap }}</td>
                    <td>{{ bull.uid }}</td>
                    <td>{{ bull.tpi }}</td>
                    <td>{{ bull.codeno }}</td>
                    <td>{{ bull.ptam }}</td>
                    <td>{{ bull.$id }}</td>
                    <td>{{ bull.regname }}</td>
                    <td>{{ bull.codename }}</td>
                    <td>{{ bull.new }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>